html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.pull-right {
  float: right !important;
}
.app-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.app-avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 10px;
}
.app-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.app-drawer {
  border: none;
}
.app-drawer-header {
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
  /*height: 151px;*/
}
.app-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.mdl-layout__header-row .recipeName {
	margin-left: 6px;
}
.app-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.app-layout .app-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.app-navigation .mdl-navigation__link {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.app-navigation .topnav {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.app-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(51, 105, 30, 0.52);
    text-decoration: none;
}
#LabelGroupsViewPlaceholder label {
	  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
}
#LabelGroupsViewPlaceholder label:hover {
	cursor:pointer;
}
#LabelGroupsViewPlaceholder a {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
    padding: 0px 30px;
    margin: 0;
}
#LabelGroupsViewPlaceholder a:hover {
    background-color: rgba(51, 105, 30, 0.52);
    text-decoration: none;
    cursor:pointer;
}
 #LabelGroupsViewPlaceholder .material-icons {
    font-size: 24px;
    margin-right: 10px;
}
.app-content {
  max-width: 1080px;
  padding-bottom: 100px;
}



/*----------------------------------------------------------------------------*/

#btnCreateRecipe, #btnEditRecipe {
	position: fixed;
	bottom: 50px;
	right: 20px;
}

.recipe-card {
	padding: 5px;
}
.recipe-card-content {
	padding: 5px;
}
.recipe-card-content .btn-add-to-favorites i{
	color: #FF6D00;
}
.recipeListItem .recipe-short-desc {
	padding-top:0px;
	height: 75px;
	overflow: hidden;
}
.recipe-card-content .app-avatar-small {
	cursor:pointer;	
}

.recipe-card-content .name {
	cursor:pointer;	
}

.recipe-card-content .image {
	cursor:pointer;	
}
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
#editRecipePlaceholder {
	margin: auto;
}
#editRecipe .thumbnail {
	padding: 15px;
}
#editRecipe label {
	margin-top: 15px;
}
#editRecipe label.name {
	width: 75px;
}
#editRecipe input.name{
	display: inline-block;
	width: 80%;
}
#editRecipe textarea {
	padding: 10px;
}
#editRecipe .footer {
	margin-top: 10px;
}
#editRecipePrivate {
	text-align: right;
    padding-right: 27px;
}	
/*----------------------------------------------------------------------------*/

#viewRecipePlaceholder{
	margin: auto;
}
#viewRecipe .thumbnail {
	padding: 15px;
}
#viewRecipe .labels {
	margin:10px; 
}
#viewRecipe .label {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 14px;
}
#viewRecipe .footer {
	margin-top: 10px;
}
#viewRecipe .mdl-card__menu .close {
	display: block;
	padding-top: 4px;
	padding-right: 20px;
}

#viewRecipe .mdl-card__menu {
	top:-6px;
	right:0px;
}