html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.pull-right {
  float: right !important;
}
.app-avatar, .filter-user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.app-avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 10px;
}
.app-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.app-drawer {
  border: none;
}
.app-drawer-header {
	padding: 16px;
}
.app-drawer-header img {
	margin-right: 16px;
}
.app-avatar-dropdown {
	display: inline-block;
}
.mdl-layout__header-row .recipeName {
	margin-left: 6px;
}
.app-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.app-layout .app-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.app-user-name {
  cursor: pointer;
}
.app-navigation .mdl-navigation__link {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.app-navigation .topnav {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.app-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}
.app-navigation .help {
	text-align: right;
    padding-right: 20px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(51, 105, 30, 0.52);
    text-decoration: none;
}
div.mdl-navigation{
	padding-top: 0px !important;
	padding-bottom: 8px;
}
#LabelGroupsViewPlaceholder label {
	  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
}
#LabelGroupsViewPlaceholder label:hover {
	cursor:pointer;
}
#LabelGroupsViewPlaceholder a {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
    padding: 0px 30px;
    margin: 0;
}
#LabelGroupsViewPlaceholder a:hover {
    background-color: rgba(51, 105, 30, 0.52);
    text-decoration: none;
    cursor:pointer;
}
 #LabelGroupsViewPlaceholder .material-icons {
    font-size: 24px;
    margin-right: 10px;
}

#FollowedPeoplePlaceholder label {
    display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
}
#FollowedPeoplePlaceholder label:hover {
  cursor:pointer;
}
#FollowedPeoplePlaceholder a {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
    padding: 0px 30px;
    margin: 0;
}
#FollowedPeoplePlaceholder a:hover {
    background-color: rgba(51, 105, 30, 0.52);
    text-decoration: none;
    cursor:pointer;
}
 #FollowedPeoplePlaceholder .material-icons {
    font-size: 24px;
    margin-right: 10px;
}

.app-navigation .edit{
	font-size: 16px !important;
    right: 20px;
    position: absolute;
    opacity: 0.2;
}
.app-navigation .edit:hover {
	opacity: 1;	
}
.navigation__link span {
	display: block;
    width: 100%;
}
.catalogTitle {
	margin-left: 54px;
    margin: 0px;
    margin-top: 13px;
    padding-left: 30px;
}
.app-navigation .delete-group, .app-navigation .delete-label{
	font-size: 16px !important;
    right: 0px;
    position: absolute;
    opacity: 0.2;
}
.app-navigation .delete-group:hover, .app-navigation .delete-label:hover {
	opacity: 1;	
}
.app-navigation input.newLabel {
	width: 160px;
    margin-left: 50px;
    opacity: 0.2;
    height: 5px;
    border: 0px;
    color: black;
}
.app-navigation input.newLabel:hover, .app-navigation input.newLabel:active, .app-navigation input.newLabel:focus{
	width: 160px;
    margin-left: 50px;
    opacity: 0.8;
    height: 25px;
    color: black;
}
.createLabelgroup {
	margin-top: 20px !important;
    padding-left: 20px !important;
}
.createLabelgroup i {
    margin-right: 7px !important;
}
.app-navigation input.labelgroup {
	width: 160px;
    margin-left: 0px;
    opacity: 0.2;
    height: 25px;
    color: black;
}

.app-navigation input:hover, .app-navigation input:active, .app-navigation input:focus {
	opacity: 0.7;
}

    font-size: 24px;
    margin-right: 7px;

.app-content {
  max-width: 1080px;
  padding-bottom: 100px;
}
.app-navigation .loginedUser {
    padding: 10px;
    padding-left: 20px;
}
.app-navigation .loginedUser img {
    margin-right: 15px;
}
#btnLng{ 
  font-size: 12px;
}
/*----------------------------------------------------------------------------*/

#btnCreateRecipe, #btnEditRecipe {
	position: fixed;
	bottom: 50px;
	right: 20px;
}

.recipe-card {
	padding: 5px;
}
.recipe-card-content {
	padding: 5px;
}
.card_title {
	margin: 0px 0px 0px 15px;
    padding: 0px;
}
.card_title .author {
	margin: 0px;
	font-size: 16px;
	line-height: 30px;
	cursor:pointer;	
}
.card_title .author img{
    margin-right: 10px;
    margin-bottom: 5px;
}
.card_title .recipeName {
	font-size: 24px;
    padding: 0px;
    line-height: 27px;
    margin: 0px;
    cursor:pointer;	
}
.recipe-card .makeTime {
	color: rgba(0,0,0,.87);
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 16px;
	width: 90%;
}

.recipe-card-content .add-favorite i{
	color: #FF6D00;
}
.recipeListItem .recipe-short-desc {
	padding-top:0px;
	height: 75px;
	overflow: hidden;
}
.recipe-card-content .app-avatar-small {
	cursor:pointer;	
}

.recipe-card-content .name {
	cursor:pointer;	
}

.recipe-card-content .image {
	cursor:pointer;	
	max-height: 350px;
}
/*----------------------------------------------------------------------------*/
.recipeListItem .labels {
	overflow: hidden;
}
.recipeListItem .label {
	margin-top: 15px;
	margin-right: 5px;
	/*font-size: 14px;*/
}


/*----------------------------------------------------------------------------*/
#editRecipePlaceholder {
	margin: auto;
}
#editRecipe .thumbnail {
	padding: 15px;
}
#editRecipe .image-container {
	position: relative;
}
#editRecipe .image-container .after {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100%;
    height: 100%;
    text-align: right;
}
#image_upload {
	display: none;
}

#editRecipe label {
	margin-top: 15px;
}
#editRecipe .label {
    margin: 5px;
}
#editRecipe label.name {
	width: 75px;
}
#editRecipe input.name{
	display: inline-block;
	width: 80%;
}
#editRecipe textarea {
	padding: 10px;
}
#editRecipe .footer {
	margin-top: 10px;
}
#editRecipe input.time {
	width: 40px;
}
#editRecipePrivate {
	text-align: right;
    padding-right: 27px;
}	
.medium-editor-hidden {
    display: none !important;
}
#editRecipe .editable {
	min-height: 200px;
	border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#btnEditRecipeDelete {
	margin-left: 30px;
}
/*----------------------------------------------------------------------------*/

#viewRecipePlaceholder{
	margin: auto;
	padding: 0px;
}
#viewRecipe .thumbnail {
	padding: 15px;
	background: none;
	border: none;
}
#viewRecipe .image {
	border: 1px solid black;
	max-height: 500px;
}
#viewRecipe .makeTime {
	color: rgba(0,0,0,.87);
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 16px;
	width: 90%;
}

#viewRecipe .labels {
	margin:10px; 
}
#viewRecipe .label {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 14px;
}
#viewRecipe .footer {
	margin-top: 10px;
}
#viewRecipe .mdl-card__menu .close {
	/*display: block;
	padding-top: 4px;
	padding-right: 20px;*/
}

#viewRecipe .mdl-card__menu {
	/*top:-6px;*/
	right:30px;
}

#facebook{ 
/*	display: block !important;
	height: 300px;
*/}

