<script type="text/template" id="googleAdsCard">
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="recipe-card-content google-crad-add-content mdl-shadow--2dp">
      <div class="thumbnail">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8159881314741914" data-ad-slot="4251646731" data-ad-format="auto"></ins>
      </div>
    </div>
</div>
</script>  

<script type="text/template" id="followedUserList">
<div class='app-navigation mdl-navigation mdl-color--light-green-800'>
  <div class="labels"></div>
</div>
</script>
<script type="text/template" id="followedUserItem">
<img src="<%= user.avatar %>" class="user-avatar2"><span><%= user.name %></span>
</script>


<script type="text/template" id="navigationLabelGroup">
  <label class="groupName labelgroup-<%= id %>"><i class="material-icons">chevron_right</i><%= labelgroup.name %><% if (owner){ %><i class="material-icons delete-group">delete</i><% } %></label>
  <% if (owner){ %><input type='text' class='newLabel hidden' placeholder="<%_ CreateLabel %>" /><% } %>
  <div class="labels hidden"></div>
</script>

<script type="text/template" id="navigationLabel">
<i class="mdl-color-text--light-green-900 material-icons label label-<%= id %>">label</i><span><%= label.name %></span><% if (owner){ %><i class="material-icons delete-label">delete</i><% } %>
</script>


<script type="text/template" id="recipeListItem" class="recipe-<%= id %>">
  <div class="recipeListItem recipe-card-content mdl-shadow--2dp" itemscope itemtype="http://schema.org/Recipe">
    <div class="card_title">
      <h2 class="author" itemprop="author"><img src="<%= user.avatar %>" alt="<%= user.name %>" title="<%= user.name %>" class="author img-circle app-avatar-small"><%= user.name %></h2>
    </div>
    <div class="card_title">
      <h2 class="recipeName" itemprop="name"><%= recipe.name %></h2>
    </div>
    <div class="thumbnail">
      <img src="<% if (recipe.coverImageUrl) { print(recipe.coverImageUrl) } else { print('https://s3.amazonaws.com/cookbookimg/NoImage.jpg') } %>" alt="<%= recipe.name %>" title="<%= recipe.name %>" class="image" itemprop="image">
    </div>
    <% if (recipe.makeTime) { %><div class="makeTime"><%_ makeTime %><%= recipe.makeTime %></div><% } %>
    
    <div class="labels mdl-card--border">

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="btnRead mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%_ Read %>
      </a>
  <% if ( !Parse.User.current() || (Parse.User.current() && user.objectId !== Parse.User.current().id) ) {  %>
      <a class="btnClone mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%_ Save_to_My_Book %>
      </a>
  <% } %>
      <a class="add-favorite pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored ">
        <i class="material-icons"><% if(favorited) { %>favorite<% } else { %>favorite_border<% } %></i>
      </a>
      <% if(!recipe.private) { %>
      <button class="share pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
      <% } %>
      <a class="print pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored ">
        <i class="material-icons">local_printshop</i>
      </a>
    </div>
    <div class="mdl-card__menu">

    </div>
  </div>
</script> 

<script type="text/template">
  <div class="fb-like" data-href="http://www.justfoodyou.com/#recipe/r-<%= id %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</script>


<script type="text/template" id="viewRecipe">
<div id="viewRecipe" class="recipe-<%= id %>" itemscope itemtype="http://schema.org/Recipe">
  <div class="recipe-card-content mdl-shadow--2dp">
    <div class="card_title">
      <h2 class="author" itemprop="author"><img src="<%= user.avatar %>" alt="<%= user.name %>" title="<%= user.name %>" class="author img-circle app-avatar-small"><%= user.name %></h2>
    </div>
    <div class="card_title">
      <h2 class="recipeName" itemprop="name"><%= recipe.name %></h2>
    </div>
    <div class="thumbnail">
      <img src="<% if (recipe.coverImageUrl) { print(recipe.coverImageUrl) } else { print('https://s3.amazonaws.com/cookbookimg/NoImage.jpg') } %>" alt="<%= recipe.name %>" title="<%= recipe.name %>" class="image" itemprop="image">
    </div>
    <% if (recipe.makeTime) { %><div class="makeTime" itemprop="totalTime"><%_ makeTime %><%= recipe.makeTime %></div><% } %>
    <div id="labels"></div>
    <div class="mdl-card__supporting-text recipe-short-desc" itemprop="about">
      <%= recipe.description %>
    </div>
    <div class="mdl-card__supporting-text recipe-short-desc" itemprop="recipeIngredient">
      <%= recipe.ingredients %>
    </div>
    <div class="mdl-card__supporting-text recipe-short-desc" itemprop="recipeInstructions">
      <%= recipe.directions %>
    </div>
    <% if(recipe.source && recipe.source!='') { %>
      <div><%_ Source %>:<%= recipe.source %></div>
    <% } %>
    <% if(owriter) { %>
        <div class="originalWriter" itemprop="author"><%_ originalWriter %>:<img src="<%= owriter.avatar %>" alt="<%= owriter.name %>" title="<%= owriter.name %>" class="originalWriter img-circle app-avatar-small"><%= owriter.name %></div>
    <% } %>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8159881314741914" data-ad-slot="9788966330" data-ad-format="auto"></ins>
    <div class="labels mdl-card--border">

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="btnClose mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%_ Close %>
      </a>
  <% if ( !Parse.User.current() || (Parse.User.current() && user.objectId !== Parse.User.current().id) ) {  %>
      <a class="btnClone mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%_ Save_to_My_Book %>
      </a>
  <%  } else { %>
      <a class="btnEdit mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <%_ Edit %>
      </a>
  <% } %>
      <a class="add-favorite pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons"><% if(favorited) { %>favorite<% } else { %>favorite_border<% } %></i>
      </a>
      <% if(!recipe.private) { %>
      <button class="share pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
      <% } %>
      <a class="print pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored ">
        <i class="material-icons">local_printshop</i>
      </a>
      <a class="kindle pull-right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored ">
        <image src="/images/kindle.png" />
      </a>
      <div class="pull-right fb-like" data-href="http://www.justfoodyou.com/#recipe/r-<%= id %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="mdl-card__menu">
      <a class="close pull-right">
        <i class="material-icons">cancel</i>
      </a>
      <% if ( Parse.User.current() && user.objectId == Parse.User.current().id ) {  %>
      <a class="btnEdit pull-right">
        <i class="material-icons">create</i>
      </a>
      <% } %>
    </div>
    <div id="facebook"><div class="fb-comments" data-href="http://www.justfoodyou.com/#recipe/r-<%= id %>" data-width="100%" data-numposts="5"></div></div>

  </div>
</div>
</script>
<!-- /#viewRecipe template --> 


<script type="text/template" id="editRecipe">
<div id="editRecipe" class="recipe-<%= id %>">
  <div class="thumbnail">
      <a class="close pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect ">
        <i class="material-icons">highlight_off</i>
      </a>
    <div>
      <label for="editRecipeName" class="name"><%_ Name %></label>
      <input id="editRecipeName" name="name" class="form-control name" placeholder="<%_ placeholder_recipe_name %>" value="<%= recipe.name %>">
    </div>
    <div class="thumbnail image-container">
      <img src="<% if (recipe.coverImageUrl) { print(recipe.coverImageUrl) } else { print('https://s3.amazonaws.com/cookbookimg/NoImage.jpg') } %>" alt="<%= recipe.name %>" title="<%= recipe.name %>" class="image">
      <div class="after upload_image" id="dropbox"><i class="material-icons">camera_alt</i></div>
    </div>
    <input type="file" name="image_upload" id="image_upload" accept="image/*" capture="camera"/> 
    <label for="editRecipeDescription" class=""><%_ Description %></label>
    <textarea name="editRecipeDescription" id="editReciptDescription" class="editable description" rows="3" required="required" placeholder="<%_ placeholder_recipe_desc %>"><%= recipe.description %></textarea>
    <label for="editRecipeIngredients" class=""><%_ Ingredients %></label>
    <textarea name="editRecipeIngredients" id="editRecipeIngredients" class="editable ingredients" rows="5" required="required" placeholder="<%_ placeholder_recipe_ingr %>"><%= recipe.ingredients %></textarea>

    <label for="editRecipePrepTime" class=""><%_ editRecipePrepTime %></label><input id="editRecipePrepTime" class="time" type="number" value="<%= recipe.prepTime %>">
    <label for="editRecipeCookTime" class=""><%_ editRecipeCookTime %></label><input id="editRecipeCookTime" class="time" type="number" value="<%= recipe.cookTime %>">
    <label for="editRecipeMakeTime" class=""><%_ editRecipeMakeTime %></label><input id="editRecipeMakeTime" class="time" type="number" value="<%= recipe.makeTime %>">

    <div>
      <label for="editRecipeDirections" class=""><%_ Directions %></label>
      <textarea name="editRecipeDirections" id="editReciptDirections" class="editable directions" rows="10" required="required" placeholder="<%_ placeholder_recipe_dir %>"><%= recipe.directions %></textarea>
    </div>
    <div>
      <label for="editRecipeSource" class="source"><%_ Source %></label>
      <input id="editRecipeSource" name="source" class="form-control source" placeholder="<%_ placeholder_recipe_source %>" value="<%= recipe.source %>">
    </div>
    <label id="editRecipePrivate" for="switch-private" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
      <input type="checkbox" id="switch-private" class="mdl-switch__input" <% if (recipe.private) { %>checked<% } %> />
      <span class="mdl-switch__label">Private</span>
    </label>

    <label id="editRecipePostFacebook" for="switch-postfacebok" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
      <input type="checkbox" id="switch-postfacebok" class="mdl-switch__input" <% if (!id) { %>checked<% } %> />
      <span class="mdl-switch__label">Share to Facebook</span>
    </label>

    <label for="editRecipeLabels" class=""><%_ Labels %></label>
    <!-- <textarea name="editRecipeLabels" id="editRecipeLabels" class="form-control mdl-textfield__input" rows="2"></textarea>-->
    <div class="labelGroups"></div>
    <div id="editRecipeLabels"></div>
    <div class="footer">
      <button id="btnEditRecipeDiscard" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><%_ Discard %></button>
      <% if (id) { %><button id="btnEditRecipeDelete" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><%_ Delete %></button><% } %>
      <button id="btnEditRecipeSave" type="button" class="pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><%_ Save %></button>
    </div>
  </div>
</div>
</script>
<!-- /#editRecipe panel --> 


<script type="text/template" id="application">
    <div class="app-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="app-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <a class="add-favorite pull-right mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored ">
            <i class="material-icons">favorite_border</i>
          </a>
          <span class="mdl-layout-title"></span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-spinner mdl-js-spinner appSpinner"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" />
              <label class="mdl-textfield__label" for="search"></label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item onAbout"><%_ About %></li>
            <li class="mdl-menu__item onContact"><%_ Contact %></li>
            <li class="mdl-menu__item onPrivacy"><%_ Legal_information %></li>
          </ul>
        </div>
      </header>
      <div class="app-drawer mdl-layout__drawer mdl-color--light-green-900 mdl-color-text--light-green-50">
        <header class="app-drawer-header">
          <img src="/icon_512.png" class="filter-user-avatar"><span class='filter-user-name'>Just Food You</span>
        </header>
        <nav class="app-navigation mdl-navigation mdl-color--light-green-800">

          <div id="LabelGroupsViewPlaceholder"></div>
          <a  class="topnav createLabelgroup <% if(user==null) { %>hidden<% } else { %>mdl-navigation__link<% } %>"><i class="material-icons">add_circle</i><input type='text' id='newLabelgroup' class='labelgroup' placeholder="<%_ CreateLabelGroup %>"/></a>

          <div class="mdl-layout-spacer"></div>

          <a class="cmdListAllRecipes mdl-navigation__link topnav" href=""><i class="mdl-color-text--light-green-400 material-icons">cloud</i><%_ All %></a>
          <a class="cmdListFollowedPeople mdl-navigation__link topnav" href=""><i class="mdl-color-text--light-green-900 material-icons">people</i><%_ FavoritedPeople %></a>
          <div id="FollowedPeoplePlaceholder" class="hide"></div>
          <a class="cmdListFavoritedRecipes mdl-navigation__link topnav" href=""><i class="mdl-color-text--light-green-900 material-icons">favorite</i><%_ Favorites %></a>
          <!-- <a class="cmdListMyRecipes mdl-navigation__link topnav" href=""><i class="mdl-color-text--light-green-900 material-icons">face</i><%_ My %></a> -->

          <div class='loginedUser mdl-color--teal-900 <% if(user==null) { %>hidden<% } %>'>
            <img src="<% if(user){ print(user.avatar) } else { print('images/user.jpg') } %>" class="app-avatar" />
            <span class='app-user-name'><% if(user) { print(user.name) } %> </span>
            <button id="accbtn" class="pull-right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <button class="mdl-menu__item btnLogout"><%_ Logout %></button>
            </ul>
          </div> 
          <div class='mdl-color--teal-900'>
            <a class="help" href=""><i class="material-icons">help_outline</i></a>
            <a class="chromeExt" href=""><i class="material-icons">content_copy</i></a>
            <button id="btnLng" class="pull-right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <%= currentLocale %>
            </button>
            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="btnLng">
              <button class="mdl-menu__item changeLang" data='en'>en</button>
              <button class="mdl-menu__item changeLang" data='de'>de</button>
              <button class="mdl-menu__item changeLang" data='hu'>hu</button>
            </ul>          
          </div>
          <a class="btnSignIn btn btn-block btn-social btn-facebook <% if(user) { %>hidden<% } %>">
            <i class="fa fa-facebook"></i> Sign in with Facebook
          </a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid app-content grid">
          <div id="recipeResultsList" class="row">

          </div>
          <!-- #recipeResultsList -->

          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" id="btnCreateRecipe">
            <i class="material-icons">add</i>
          </button>

          <div id="viewRecipePlaceholder"  class="col-xs-12 col-md-10"></div>
          <div id="editRecipePlaceholder"  class="col-xs-12 col-md-10"></div>
        </div>
        <!-- /app-content -->
      </main>
    </div>
    <div id="fb-root"></div>
</script>
