<script type="text/template" id="window">
    <div style="* {    all: unset;  }">
        <img src="<%- iconUrl %>" class="JFYicon"><title>Just Food You - Import recipe</title>
        <div class="JFYeditRecipe">
            <div>
                <!--<label><%_ Name %></label>-->
                <input id="editRecipeName" name="name" placeholder="<%_ placeholder_recipe_name %>" value="">
            </div>

            <div class='imgCont'>
                <img src="<%- noImageUrl %>" width:300 class="JFYimage">
                <div class="JFYafter JFYdropbox">drop image here</div>
            </div>
            <div class="JFYContent">
                <!--<label for="editRecipeIngredients"><%_ Ingredients %></label>-->
                <textarea name="editRecipeIngredients" id="editRecipeIngredients" rows="5" required="required" placeholder="Copy ingredients here!"></textarea>
    <!--
                <label for="editRecipePrepTime"><%_ editRecipePrepTime %></label>
                <input id="editRecipePrepTime" type="number" value="">

                <label for="editRecipeCookTime"><%_ editRecipeCookTime %></label>
                <input id="editRecipeCookTime" type="number" value="">

                <label for="editRecipeMakeTime"><%_ editRecipeMakeTime %></label>
                <input id="editRecipeMakeTime" type="number" value="">
    -->
                <div>
                    <!--<label for="editRecipeDirections"><%_ Directions %></label>-->
                    <textarea name="editRecipeDirections" id="editRecipeDirections" rows="10" required="required" placeholder="Copy direction here!"></textarea>
                </div>
            </dic>
        </div>
        <div class="JFYfooter">
            <button id="btnEditRecipeDiscard" type="button"><%_ Discard %></button>
            <button id="btnEditRecipeSave" type="button"><%_ Save %></button>
        </div>
    </div>
</script>
